body {
  font-family: "Lato", sans-serif;
}

header {
  border-bottom: 1px solid #CCC;
  text-align: center;
}

.gems {
  list-style-type: none;
  padding: 0;
}

footer {
  border-top: 1px solid #CCC;
  font-size: 0.8em;
  text-align: center;
}

@media only screen and (min-width: 670px) {
  body {
    width: 670px;
    margin: 0 auto;
  }
}
